* {
    margin: 0em;
    padding: 0em;
    // margin: 0%;
    // padding: 0%;
}


body,
html {
    // background-color: aqua;
    width: 100%;
    height: 100%;
    // color: aqua;

}

.a-enter-vr {


    .a-enter-vr-button {
        background: red;
        border-radius: 0%;

    }
}